<!-- Content
================================================== -->
<div class="site-content">
    <div class="container">

        <!-- Checkout Form -->
        <form class="df-checkout">

            <div class="row">
                <div class="col-md-4">

                    <!-- Widget: Team Newslog -->
                    <aside class="widget card widget--sidebar widget-newslog">
                        <div class="widget__title card__header">
                            <h4>League Fact Log</h4>
                        </div>
                        <div class="widget__content card__content">
                            <ul class="newslog">
                                {{#each hbsObject.facts}}
                                    <li class="newslog__item newslog__item--injury">
                                        <div class="">
                                            <div class="newslog__content">{{this.description}}</div>
                                            <time class="newslog__date" datetime="2016-01-19">{{momentFromNowTime this.updatedAt}}</time>
                                        </div>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </aside>
                    <!-- Widget: Team Newslog / End -->

                </div>
                <div class="col-md-8">

                    <!-- Billing Details -->
                    <div class="card">
                        <div class="card__header card__header--has-checkbox">
                            <h4>Submit a league fact</h4>
                        </div>
                        <div class="card__content">
                            <div class="df-billing-fields">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label >Category</label>
                                            <select id="fact-category" class="form-control">
                                                <option value="">Select general league or team specific fact...</option>
                                                <option value="General">General</option>
                                                <option value="Team">Team</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mb-0">
                                    <label>Description</label>
                                    <textarea id="fact-description" rows="7" class="form-control" placeholder="Whats the fact..."></textarea>
                                </div>

                                <div id="fact-alert-msg"></div>

                                <div class="df-checkout-payment">
                                    <div class="place-order">
                                        <input type="submit" class="btn btn-primary-inverse btn-lg btn-block" name="df_checkout_place_order" id="submit-fact" value="Submit League Fact">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Billing Details / End -->

                </div>

            </div>

        </form>
        <!-- Checkout Form / End -->

    </div>
</div>

<!-- Content / End -->